.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  &:hover {
    width: 80%;
    &__content {
      transform: scale(1.2);
    }
  }

  &__images {
    pointer-events: none;
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
  }
  &__img--top {
    transition: 0.5s;
    width: 250px;
  }
  &__img--bottom {
    transition: 0.5s;

    transform: rotate(-5deg);
    width: 200px;
  }
  &__content {
    transform: scale(1);
    transition: 0.5s;
  }
  &__subTitle {
    display: block;
    font-size: 2rem;
    font-weight: 300;
  }

  &__title {
    margin-top: 2rem;
    font-size: 7rem;
    font-size: 100;
    text-decoration: none;
    color: #1d1d22;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s;
  }

  &.men &__subTitle,
  &.men &__title {
    color: white;
  }
  &.women &__subTitle,
  &.women &__title {
    color: #313131;
  }
  @media (max-width: 667px) {
    width: 100%;
    height: 50vh;
    &:hover {
      width: 100%;
    }
    &__images {
      display: none;
    }
    &__title {
      font-size: 5rem;
    }
  }
}
.men.inner {
  background-color: #363636;
}
.women.inner {
  background-color: white;
  transition: 0.5s;
}

//men
.men > .inner__images {
  right: 0;

  .inner__img--top {
    transform: translate(200%, 100px) rotate(-10deg);
  }
  .inner__img--bottom {
    transform: translateX(200%) rotate(5deg);
  }
}
.men.inner:hover {
  .inner__img--top {
    transform: translate(-50px, 100px) rotate(-10deg);
  }
  .inner__img--bottom {
    transition-delay: 0.3s;
    transform: translateX(0px) rotate(5deg);
  }
}

//women
.women > .inner__images {
  left: 0;
  .inner__img--top {
    transform: translate(-200%, 100px) rotate(10deg);
  }
  .inner__img--bottom {
    transform: translateX(-200%) rotate(-5deg);
  }
}
.women.inner:hover {
  .inner__img--top {
    transform: translate(50px, 100px) rotate(10deg);
  }
  .inner__img--bottom {
    transition-delay: 0.3s;
    transform: translateX(50px) rotate(-5deg);
  }
}
