.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: .5s;
  position: relative;
  &:hover{
    width: 80%;
  }
  &:hover &__content{
    transform: scale(1.2);
  }
  &__content{
    transform: scale(1);
    transition: .5s;
  }
  &__subTitle{
    display: block;
    font-size: 2rem;
    font-weight: 300;
  }

  &__title{
    margin-top: 2rem;
    font-size: 7rem;
    font-size: 100;
    text-decoration: none;
    color:#1d1d22;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
  }

  &.men &__subTitle,&.men &__title{
    color:white;
  }
  &.women &__subTitle,&.women &__title{
    color:#313131;
  }
  

}
.men.inner{
  background-color: #363636;
  &__images{
    position: absolute;
    top: 50%;
    right:-100%;
  }
}
.inner{
  background-color: white;
  transition: .5s;
  &:hover{
    &__images{
      left: 0;
    }
  }
  &__images{
    position: absolute;
    top: 50%;
    left: -100%;
  }
  &__img--top{
    transform: rotate(10deg);
    width: 200px;
  }
  &__img--bottom{
    transform: rotate(-5deg);
    width: 200px;
  }
}

