.logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  letter-spacing: 4px;

  &__text {
    margin-left: 20px;
  }
  &__black {
    color: #313131;
  }
  &__white {
    color: white;
  }
}

.logo.notHome {
  position: static;
  text-align: left;
}
