.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
  & > div {
    width: 33%;
    @media (max-width: 667px) {
      width: auto;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    user-select: none;
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    margin-right: 2rem;
    margin-left: 4rem;
    display: block;
    &::before {
      content: "0";
      position: absolute;
      top: 0;
      right: -0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: white;
      background: #131212;
      font-size: 1rem;
      text-align: center;
      line-height: 1.5rem;
      border: 1px solid white;
    }
    @media (max-width: 900px) {
      margin-left: 2rem;
    }
  }
}
