input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}
.stripe {
  background-color: #e9f3f0;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
  padding: 4rem;
  &__place {
    display: flex;
  }
  .SubmitButton {
    width: 100%;
    display: block;
    background-color: transparent;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid black;
    color: black;
    text-align: center;
    margin-top: 3rem;
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.ErrorMessage {
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin-top: 0px;
  width: 100%;
  transform: translateY(-15px);
  opacity: 0;
  animation: fade 150ms ease-out;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  will-change: opacity, transform;
}

.ErrorMessage svg {
  margin-right: 10px;
}

.Result {
  margin-top: 50px;
  text-align: center;
  animation: fade 200ms ease-out;
}

.ResultTitle {
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 17px;
  text-align: center;
}

.ResultMessage {
  color: #9cdbff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
  text-align: center;
}

.ResetButton {
  border: 0;
  cursor: pointer;
  background: transparent;
}
